In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('weather.csv')
data.sample(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
64814,2014-12-08,MelbourneAirport,13.5,20.1,0.6,1.6,4.3,S,33.0,SSE,...,63.0,1009.6,1011.2,7.0,7.0,15.9,19.2,No,0.0,No
56275,2016-04-25,Ballarat,5.3,22.7,0.0,NaN,NaN,N,43.0,N,...,32.0,1030.2,1027.4,NaN,NaN,14.8,22.1,No,0.0,No
141086,2014-06-03,Uluru,6.6,21.6,0.0,NaN,NaN,ESE,31.0,SE,...,33.0,1022.2,1018.7,NaN,NaN,10.8,20.4,No,0.0,No
82477,2010-08-31,Brisbane,11.4,24.2,0.0,4.0,10.7,ENE,19.0,SW,...,46.0,1026.1,1023.0,1.0,2.0,17.7,22.0,No,0.0,No
135868,2017-05-02,AliceSprings,6.0,23.8,0.0,NaN,NaN,SE,41.0,S,...,24.0,1022.0,1019.3,NaN,NaN,16.3,22.7,No,0.0,No

In [3]:
data.drop(['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RISK_MM'], axis=1, inplace=True)
data.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
data.fillna(data.mean(), inplace=True)
data.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,5.469824,7.624853,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.503167,16.9,21.8,No,No
1,7.4,25.1,0.0,5.469824,7.624853,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,4.437189,4.503167,17.2,24.3,No,No
2,12.9,25.7,0.0,5.469824,7.624853,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,4.437189,2.000000,21.0,23.2,No,No
3,9.2,28.0,0.0,5.469824,7.624853,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.437189,4.503167,18.1,26.5,No,No
4,17.5,32.3,1.0,5.469824,7.624853,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,No,No

In [5]:
data.RainToday = [1 if each == 'Yes' else 0 for each in data.RainToday]
data.RainTomorrow = [1 if each == 'Yes' else 0 for each in data.RainTomorrow]
data.sample(10)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
78491,6.9,15.5,2.000000,4.800000,0.000000,39.984292,20.000000,22.0,70.0,62.0,1014.700000,1013.300000,7.000000,7.000000,9.5,14.4,1,0
111322,11.4,27.3,0.000000,5.469824,7.624853,28.000000,13.000000,17.0,72.0,53.0,1023.300000,1020.400000,4.437189,4.503167,16.6,25.7,0,0
58436,13.6,25.1,0.000000,7.200000,7.624853,48.000000,0.000000,22.0,37.0,49.0,1005.300000,1007.200000,4.437189,6.000000,21.6,20.8,0,1
140679,26.9,39.4,0.000000,5.469824,7.624853,54.000000,13.000000,15.0,39.0,24.0,1008.900000,1005.100000,4.437189,4.503167,30.9,36.8,0,0
42938,11.7,15.8,0.000000,5.469824,7.624853,56.000000,41.000000,26.0,54.0,51.0,1027.200000,1027.000000,1.000000,2.000000,13.8,15.4,0,0
32737,23.3,27.1,0.000000,5.200000,1.500000,30.000000,11.000000,17.0,77.0,72.0,1015.700000,1012.600000,7.000000,6.000000,24.5,26.0,0,1
87839,19.7,27.4,0.200000,5.469824,7.624853,46.000000,22.000000,33.0,62.0,61.0,1020.000000,1016.700000,4.437189,8.000000,23.0,25.2,0,0
117273,14.1,23.2,0.400000,0.200000,0.500000,28.000000,7.000000,15.0,91.0,63.0,1016.600000,1013.900000,7.000000,8.000000,18.8,21.3,0,1
51284,-2.0,-1.4,2.349974,5.469824,7.624853,91.000000,14.001988,28.0,97.0,97.0,1017.653758,1015.258204,4.437189,4.503167,-2.0,-2.0,0,1
7189,4.4,19.2,0.000000,2.200000,7.624853,39.000000,19.000000,20.0,60.0,36.0,1028.400000,1024.800000,3.000000,7.000000,9.6,19.0,0,0

In [6]:
y = data.RainTomorrow.values
x_data = data.drop('RainTomorrow', axis=1)
x_data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,13.4,22.9,0.6,5.469824,7.624853,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,8.000000,4.503167,16.9,21.8,0
1,7.4,25.1,0.0,5.469824,7.624853,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,4.437189,4.503167,17.2,24.3,0
2,12.9,25.7,0.0,5.469824,7.624853,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,4.437189,2.000000,21.0,23.2,0
3,9.2,28.0,0.0,5.469824,7.624853,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,4.437189,4.503167,18.1,26.5,0
4,17.5,32.3,1.0,5.469824,7.624853,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,7.000000,8.000000,17.8,29.7,0

In [7]:
x = (x_data - np.min(x_data)) / (np.max(x_data) - np.min(x_data)) 
x.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,0.516509,0.523629,0.001617,0.037723,0.525852,0.294574,0.153846,0.275862,0.71,0.22,0.449587,0.4800,0.888889,0.500352,0.508439,0.522073,0.0
1,0.375000,0.565217,0.000000,0.037723,0.525852,0.294574,0.030769,0.252874,0.44,0.25,0.497521,0.4912,0.493021,0.500352,0.514768,0.570058,0.0
2,0.504717,0.576560,0.000000,0.037723,0.525852,0.310078,0.146154,0.298851,0.38,0.30,0.447934,0.5056,0.493021,0.222222,0.594937,0.548944,0.0
3,0.417453,0.620038,0.000000,0.037723,0.525852,0.139535,0.084615,0.103448,0.45,0.16,0.613223,0.5712,0.493021,0.500352,0.533755,0.612284,0.0
4,0.613208,0.701323,0.002695,0.037723,0.525852,0.271318,0.053846,0.229885,0.82,0.33,0.500826,0.4624,0.777778,0.888889,0.527426,0.673704,0.0

In [8]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=75)

x_train = x_train.T
y_train = y_train.T
x_test = x_test.T
y_test = y_test.T

print('x_train shape is: ', x_train.shape)
print('y_train shape is: ', y_train.shape)
print('x_test shape is: ', x_test.shape)
print('y_test shape is: ', y_test.shape)

x_train shape is:  (17, 113754)
y_train shape is:  (113754,)
x_test shape is:  (17, 28439)
y_test shape is:  (28439,)

In [9]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(x_train.T, y_train.T)

print('Test accuracy of sklearn logistic regression library: {}'.format(lr.score(x_test.T, y_test.T)))

C:\Users\Dileep Surya\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Test accuracy of sklearn logistic regression library: 0.8412391434297971